body {
    background-color: rgb(78, 3, 3);
    font-family: 'Noto Sans', 'arial';
    color: white;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
header {
    margin-bottom: 50px;
    background-color: rgb(78,3,3);
    
  border-block-end: solid 3px white;
}

.info {
    height: 5vh;
    position: absolute;
    bottom: 0px;
    background-color: rgba(85, 85, 85, 0.37);
    width: 100%;
    text-align: center;
    line-height: 5vh;
    display: none;
}
.social-ic {
  transition: .5s;
  
  padding: 10px;
  border-radius: 5px;
}
.yt {
  width: 223.033707865px;
  margin: auto;
}
.social-ic:hover {
  background-color: white;
}
.yt-img {
    filter: grayscale(100%) invert(100%);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
}
.yt-img:hover {
    filter: grayscale(0%) invert(0%);
}
.dc-img {
  filter: invert(100%);
  transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
}
.dc-img:hover{
  filter: invert(0%);
}
.load-pan {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(78, 3, 3);
    width: 100%;
    height: 100vh;
    display: block;
    transition: .5s;
}


.lds-ripple {
    display: inline-block;
    position: fixed;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  